$gold: linear-gradient(75.93deg, #FAD264 44.82%, #FCE558 70.67%);
$yellow: #FCE559;
$yellow1: #FAD264;
$dark-blue: #320B61;
$purple: #42196D;
$white: #fff;
$black: #000;
$black1: #29242C;
$black2: #292841